body{
    background-color: #3DBB9A;
    font-family: "Markazi Text", serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
    color: #9AF11E;
    /* padding-left: 3%; */
}

h2{
    font-size: 2rem;
}
.para_one{
    /* padding-left: 3%; */
    color:white;
}
.navbar{
    background-color: #4A5E52;
    
}
nav{
    border-radius: 25px;
}
.nav_text{
    color: #9AF11E;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}

.a_link{
    color: black;
}
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

nav ul {
    list-style: none;
    text-align: center;
   
}

nav li {
    display:inline-block;
    padding: 2% 10% 2% 10%;

}

section{
    display: flex;
}

.top_section{
    background-image: url(horizontal.jpg);
    background-size: 100% 110%;
    border-radius: 25px;
    
  
}
.bottom_section{
    margin-top: 2%;
    
}

.menu_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    border-radius: 25px;
}

.book_table{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    border-radius: 25px;
}

.open_hours{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    border-radius: 25px;
}
article h1,h2,img,p{
    padding-left: 3%;
    padding-right: 3%;
}


.article1{
   
    background-color: #E3F6F7;
    border-radius: 25px;
    margin: 1%
}

.article2{
 
    background-color: #E3F6F7;
    border-radius: 25px;
    margin: 1%
}

.article3{
  
    background-color: #E3F6F7;
    border-radius: 25px;
    margin: 1%
}

.article1 > h1{
    margin-left: 1%;
}




article{
    flex: 1;
}

footer{
    display: flex;
}

footer div {
    flex : 1;
}

footer div img{
    width: 50px;
    height: 100px;
}
.copyright{
    text-align: right;
}


